/* You can add global styles to this file, and also import other style files */
#themecolors .selector{
    cursor: pointer;
}
#google-btn{
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.cursor {
    cursor: pointer; 
}